{% extends "base.html" %}

{% block add %}
    <h1>Добавить историю</h1>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="title" placeholder="Название"></p>
        <p><input type="text" name="new" placeholder="Первый абзац"></p>
        <p><input type="text" name="name" placeholder="Ваше имя"></p>
        <button type="submit" value="Новая" name="button">Новая</button>
    </form>
{% endblock %}
