<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Коллективный разум</title>
</head>
<body>
<div align="center">
        {% block stories %}
        {% endblock %}
        {% block write %}
        {% endblock %}
        {% block add %}
        {% endblock %}
        {% block view %}
        {% endblock %}
    <p>==============</p>
    <p><a href="/">Список</a></p>
    <p><a href="/new">Новая</a></p>
</div>
</body>
</html>
