{% extends 'base.html' %}

{% block stories %}
    <h1>Список историй:</h1>
    <h3>Текущие:</h3>
    {% for s in stories_cur %}
        <p>
            <a href="/write?s={{ s.id }}">{{ s.title }} by {{ s.author.nickname }} [{{ s.author.ip_addr }}]</a>
            <a href="/view?s={{ s.id }}">[view]</a>
        </p>
    {% endfor %}
    <h3>Законченные:</h3>
    {% for s in stories_comp %}
        <p><a href="/view?s={{ s.id }}">{{ s.title }} by {{ s.author.nickname }} [{{ s.author.ip_addr }}]</a></p>
    {% endfor %}
{% endblock %}
