{% extends 'base.html' %}

{% block view %}
    <h1>Просмотр истории</h1>
    <h3>{{ s.title }} by {{ s.author.nickname }} ({{ s.author.ip_addr }})</h3>
    {% for p in pars %}
        <p>{{ p.text }} [{{ p.author.nickname }} ({{ p.author.ip_addr }})]</p>
    {% endfor %}
{% endblock %}
