{% extends "base.html" %}

{% block write %}
    <h1>Текущая история:</h1>
    <h3>{{ title }}</h3>
    <p>{{ text }}</p>
    {% if not ended %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя">
        <p></p>
        <textarea placeholder="Новый абзац" name="new" rows="10" cols="45"></textarea>
        <p></p>
        <input type="hidden" name="id" value="{{ idd }}">
        <input type="submit" value="Добавить" name="button"><input type="submit" value="Закончить" name="button">
    </form>
    {% endif %}
{% endblock %}
